/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
#channels{
    display: flex;
    flex-direction: row;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.right{
    display: flex;
    align-items: flex-end;
}

fieldset{
    border-top: 1px solid #ccc;
    text-align: center;
    border-bottom: none;
    border-right: none;
    border-left: none;
    font-weight: bold;

}

main{
    display: flex;
}

#sec-channel-side{
    width: 600px;
    border-left: 1px solid #ccc;
}


*{
    font-family: 'Lato', sans-serif;
}

.bell-icon{
    display: flex;
    margin-left: auto;
    margin-top: 10px;
}

.top{
    display: flex;
}

.tk{
    margin-top: 10px;
    margin-bottom: 2px;
}

.top i{
    color: #c5b7c6
    
}

input{
    background-color: #210721;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.my-name{
    margin-bottom: 12px;
    margin-top: auto;
}



.side-image{
    height: 50px;

}
body{
    display: flex;
    width: 100%;
    margin: 0%;
}

.top h4 > i{
    margin-left: 6px;
    font-size: 10px;

}

.unread i{
    font-size: 10px;
    margin-right: 4px;
}

li > i{
    margin-right: 8px;
     font-size: 10px;
}

.unread > h4{
    margin-bottom: 1px;
}

.unread > p{
    margin-top: 1px;
}

.message-1 img{
    margin-top: 23px;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#page{
    background: white;
    width: 100%;
}

header i {
    padding: 6px;
    font-size: medium;
    color: #61615e;
}

.left i{
    border-right: 2px solid #ccc;
}

header{
    display: block;
    margin-bottom: 10px;
    padding: 20px 20px 5px 20px
}

/* .left{
    margin: 0px;
    display: flex;
    align-items: flex-end;

} */

li{
    list-style-type: none;
    line-height: 18px;
    font-size: 13px;
}

ul{
    padding: 0px 10px 0px 1px;
}


#info h4{
    color: #ffffff;
}


.left h4{
    margin-top: auto;
    margin-bottom: 3px;;
}


#info {
    background-color:#3f0e40;
    color: #c5b7c7;
    margin-top: 0;
    padding: 10px 12px 0 12px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    
}

#search{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 4px;
}

/* .right{
    display: flex;
    margin-left: auto;
} */

header input{
    border-style: none;
    background-color: white;
}

.side-bar{
    background: #210721;
    padding: 20px 13px;
    width: 100%;
}

h5 > i{
    margin-left: 3px;
}

/* #page i{
    font-size: medium;
        color: #61615e;
} */

.frst h4{
    margin-top: auto;
}

.frst p{
    margin-top: auto;
}

time{
    color: #71706f;
    font-weight: normal;
    margin-left: 5px;
    font-size: smaller;
}

.frst{
    margin-left: 6px;
}

#heart-btn{
    border: 2px solid #1063a3;
}

button{
    padding: 5px 10px;
    border-radius: 38px;
    background-color: #f6f6f6;
    border: none;
    margin-right: 2px;
    margin-bottom: 3px; 
}

#emoji-btn i{
    color: #fcd864;
}

#thumb-btn i{
    color: #fcd864;
}

#profile{
    display: flex;
}

#para{
    display: flex;
}

#profile p{
    margin-right: 5px; 
}

.frst button{
    border: 2px solid #1063a3;
   
}




#heart-btn i{
    color: #f64030;

}

#messages{
    margin-left: 40px;
    width: 100%;
    margin-bottom: 10px;

} 

.dp{
    margin-top: 10px;
    margin-right: 5px;
}

#check{
    color: black;
}

#message-02{
    display: flex;
    background-color: #fef9ed;
}

#second{
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    align-items: flex-end;

    
}

#pin{
    font-size: small;
    margin: 3px 0 18px 0px;
    color:#e8902d;

}
.pinned{
    margin: auto;
    color:   #616061; 
}
#msg-2{
    padding-left: 6px;
}

#froggy{
    width: 300px;
    height: 247px;
}

.message-1{
    display: flex;
    padding-left: 25px;
    padding-bottom:10px;
}