/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
#channels{
    display: flex;
    flex-direction: row;

}

.bell-icon{
    display: flex;
    margin-left: auto;
    margin-top: 10px;
}

.top{
    display: flex;
}

.tk{
    margin-top: 10px;
    margin-bottom: 2px;
}

input{
    background-color: #210721;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.my-name{
    margin-bottom: 12px;
    margin-top: auto;
}



.side-image{
    height: 50px;

}
body{
    display: flex;
    width: 100%;
    margin: 0%;
}

.top h4 > i{
    margin-left: 6px;
    font-size: 10px;

}

.unread i{
    font-size: 10px;
    margin-right: 4px;
}

li > i{
    margin-right: 8px;
     font-size: 10px;
}

.unread > h4{
    margin-bottom: 1px;
}


img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#page{
    background: white;
    padding: 20px;
    width: 100%;
}

header{
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

li{
    list-style-type: none;
}

ul{
    padding: 0px 10px 0px 1px;
}


#info h4{
    color: #ffffff;
}


.left h4{
    margin-top: auto;
    margin-bottom: 3px;;
}


#info {
    background-color:#3f0e40;
    color: #c5b7c7;
    margin-top: 0;
    padding: 10px 12px 0 12px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.side-bar{
    background: #210721;
    padding: 20px 13px;
    width: 100%;
}

#page i{
    font-size: smaller;
        color:#ccc;
}

.frst h3{
    margin-top: auto;
}

.frst{
    margin-left: 6px;
}

button{
    border: 1px solid #1c9bd2 ;
    border-radius: 38px;
}

#messages{
    margin-left: 23px;
}
 

#check{
    color: black;
}

#message-02{
    display: flex;
    background-color: #fef9ed;
}

#second{
    display: flex;
    
}

#froggy{
    width: 300px;
    height: 300px;
}

.message-1{
    display: flex;
    padding: 20px;
}